<div class="container">
  <div class="row d-flex justify-content-center">
    <div>
      <div class="header">
        <%= link_to "back", flats_path %>
      </div>
      <div>
        <%= link_to 'Edit', edit_flat_path(@flat) %>
      </div>
      <div>
        <%= link_to "Delete",
                flat_path(@flat),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
      </div>
    </div>
    <div class="col-6">
      <div class="card-show">
        <h1><%= @flat.name %></h1>
        <p><%= @flat.address %></p>
        <p><%= @flat.description %></p>
        <p><%= @flat.price_per_night %></p>
      </div>
      <div id='map-show'></div>
    </div>
  </div>
</div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoia3Jpc3Byb2xjZSIsImEiOiJjazlsYW4xeXkwMnN0M2hzMXo2M2d1MHpsIn0.HXJ2L8en80eBxzQh-V8cYw';
var map = new mapboxgl.Map({
container: 'map-show',
style: 'mapbox://styles/mapbox/streets-v11',
center: [2.35, 48.88], // starting position
  zoom: 10
});
map.addControl(new mapboxgl.NavigationControl());
</script>
